{% extends 'base.html.twig' %}

{% block title "Accueil jeu Silver-Tower" %}

{% block body %}
<div class="container">
    <div class="row pt-5">
        <h2>Êtes vous prêt à entrer dans la Silver-Tower ?</h2>
        <div class="col-3 pt-5">
            <a type="button" class="btn btn-primary fw-bold" href="#">c'est parti</a>
        </div>
    </div>
</div>
{% endblock %}
